<section id="section-events">
  <div class="">
    <div class="container mx-auto px-8 py-12 sm:py-24">
      <h2 class="section-title">
        <span>Évènements</span>
        <div class="w-16 border-b-8 mt-6 border-primary"></div>
      </h2>
      <div class="section-content">
        <p class="italic text-center">
          Je me déplace en région Occitanie.
        </p>
        <div
        class="mt-11 grid grid-cols-2 md:grid-cols-3 gap-2 sm:gap-4 text-xs sm:text-sm"
        >
        <div class="text-center font-semibold">Évènements d’entreprise</div>
        <div class="text-center font-semibold">Évènements culturels</div>
        <div class="text-center font-semibold">Évènements privés</div>
        <div class="text-center font-semibold">Séminaires</div>
        <div class="text-center font-semibold">Conférences</div>
        <div class="text-center font-semibold">Tout autre évènement</div>
      </div>
    </div>
  </div>
  </section>
  