<section id="section-events">
  <div class="bg-gray-100">
    <div class="container mx-auto px-4 py-12 sm:py-24">
      <h2 class="section-title">
        <span>Évènements</span>
        <div class="w-16 border-b-8 mt-6 border-primary"></div>
      </h2>
      <div class="section-content">
        <p class="font-semibold">
          Je me déplace en région Occitanie.
        </p>
        <div
        class="mt-11 grid grid-cols-1 sm:grid-cols-2 gap-2 sm:gap-4"
        >
        <div class="flex space-x-2 items-center">
          <svg class="w-8 h-8 text-secondary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-semibold">Évènements d’entreprise</span>
        </div>
        <div class="flex space-x-2 items-center">
          <svg class="w-8 h-8 text-secondary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-semibold">Évènements culturels</span>
        </div>
        <div class="flex space-x-2 items-center">
          <svg class="w-8 h-8 text-secondary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-semibold">Évènements privés</span>
        </div>
        <div class="flex space-x-2 items-center">
          <svg class="w-8 h-8 text-secondary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-semibold">Séminaires</span>
        </div>
        <div class="flex space-x-2 items-center">
          <svg class="w-8 h-8 text-secondary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-semibold">Conférences</span>
        </div>
        <div class="flex space-x-2 items-center">
          <svg class="w-8 h-8 text-secondary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-semibold">Tout autre évènement</span>
        </div>
      </div>
    </div>
  </div>
  </section>
  