<section id="section-services">
  <div class="bg-gray-200">
    <div class="container mx-auto px-8 py-12 sm:py-24">
      <h2 class="section-title">
        <span>Prestations</span>
        <div class="w-16 border-b-8 mt-6 border-primary"></div>
      </h2>
      <div class="section-content">
        <p class="italic text-center">
          J’interviens en journée, soirée, semaine, week-end et jours fériés.
          Je propose des forfaits adaptés selon les évènements.
        </p>
        <ul class="list-disc list-inside">
          <li>Assister les personnes, accueillir les secours extérieurs</li>
          <li>Gérer les situations de crise</li>
          <li>Mettre en place les consignes</li>
          <li>Effectuer les rondes de surveillance et levée de doute</li>
          <li>Gérer l’évacuation des personnes et des bâtiments</li>
        </ul>
      </div>
    </div>
</section>
