<section id="section-services">
  <div class="bg-gray-200">
    <div class="container mx-auto px-4 py-12 sm:py-24">
      <h2 class="section-title">
        <span>Prestations</span>
        <div class="w-16 border-b-8 mt-6 border-primary"></div>
      </h2>
      <div class="section-content">
        <p class="font-semibold">
          J’interviens en journée, soirée, semaine, week-end et jours fériés.
        </p>
        <div class="grid sm:grid-cols-2 gap-x-4 gap-y-10 mt-12">
          <div class="flex space-x-2">
            <svg  class="w-11 h-11 text-secondary" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 511.999 511.999" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M468.509 137.107h-93.616V43.491C374.893 19.51 355.383 0 331.403 0H180.598c-23.981 0-43.491 19.51-43.491 43.491v93.616H43.491C19.51 137.107 0 156.617 0 180.598v150.804c0 23.981 19.51 43.491 43.491 43.491h93.616v93.616c0 23.981 19.51 43.491 43.491 43.491h150.804c23.981 0 43.491-19.51 43.491-43.491v-93.616h93.616c23.981 0 43.491-19.51 43.491-43.491V180.598c0-23.981-19.51-43.491-43.491-43.491zM353.148 331.401c-12.009 0-21.745 9.736-21.745 21.745l.028 115.36-.028.001H180.598V353.146c0-12.009-9.736-21.745-21.745-21.745H43.491V180.598h115.362c12.009 0 21.745-9.736 21.745-21.745V43.491h150.804v115.362c0 12.009 9.736 21.745 21.745 21.745h115.362v150.804H353.148z"/>
            </svg>
            <div class="flex-1">
              <div class="font-bold text-gray-700">Assistance</div>
              <p>Assister les personnes, accueillir les secours extérieurs</p>
            </div>
          </div>
          <div class="flex space-x-2">
            <svg class="w-12 h-12 text-secondary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
            <div class="flex-1">
              <div class="font-bold text-gray-700">Gestion</div>
              <p>Gérer les situations de crise</p>
            </div>
          </div>
          <div class="flex space-x-2">
            <svg class="w-12 h-12 text-secondary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
            </svg>
            <div class="flex-1">
              <div class="font-bold text-gray-700">Préparation</div>
              <p>Mettre en place les consignes</p>
            </div>
          </div>
          <div class="flex space-x-2">
            <svg class="w-12 h-12 text-secondary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
            </svg>
            <div class="flex-1">
              <div class="font-bold text-gray-700">Surveillance</div>
              <p>Effectuer les rondes de surveillance et levée de doute</p>
            </div>
          </div>
          <div class="flex space-x-2">
            <svg class="w-12 h-12 text-secondary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
            </svg>
            <div class="flex-1">
              <div class="font-bold text-gray-700">Evacuation</div>
              <p>Gérer l’évacuation des personnes et des bâtiments</p>
            </div>
          </div>
        </div>
        <div class="flex items-center space-x-2 rounded-lg lg:w-1/2 mt-10 px-3 text-sm lg:px-5 py-4 bg-yellow-50 border-l-4 border-yellow-200">
          <svg class="w-12 h-12 text-yellow-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
          </svg>
          <div class="text-yellow-700 font-semibold">Je propose des forfaits adaptés selon les événements.</div>
        </div>
      </div>
    </div>
</section>
